<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>RemoveBars</string>
			<key>id</key>
			<string>RemoveBars</string>
			<key>label</key>
			<string>Remove White Bars</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>HideControls</string>
			<key>id</key>
			<string>HideControls</string>
			<key>label</key>
			<string>Hide Media Controls</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>HideS2U</string>
			<key>id</key>
			<string>HideS2U</string>
			<key>label</key>
			<string>Hide Slide To Unlock</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enabling &apos;Artwork as Wallpaper&apos; or &apos;Colourise from Artwork&apos; may cause lag on older devices.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>colourFromArtwork</string>
			<key>id</key>
			<string>colourFromArtwork</string>
			<key>label</key>
			<string>Colourise from Artwork</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>set</key>
			<string>setUseArtworkColours:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>keepColoursForNotifications</string>
			<key>id</key>
			<string>keepColoursForNotifications</string>
			<key>label</key>
			<string>Reset Colours on Notification</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>negate</key>
			<true/>
			<key>set</key>
			<string>setKeepColoursForNotifications:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>ArtworkBG</string>
			<key>id</key>
			<string>ArtworkBG</string>
			<key>label</key>
			<string>Artwork as Wallpaper</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>set</key>
			<string>setArtworkAsWall:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>LSBackgroundMode</string>
			<key>id</key>
			<string>LSBackgroundMode</string>
			<key>label</key>
			<string>Background Mode</string>
			<key>detail</key>
			<string>CHCCPSListItemsController</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Dark Blur</string>
				<string>Light Blur</string>
				<string>No Blur</string>
			</array>
			<key>set</key>
			<string>setBackgroundMode:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>NoBlur</string>
			<key>id</key>
			<string>NoBlur</string>
			<key>label</key>
			<string>Disable background blur</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Colours</string>
			<key>id</key>
			<string>colGroup</string>
			<key>footerText</key>
			<string>&apos;Blend Control Colours&apos; will enable the blend effect which is used in the music app for blurred backgrounds - for the best effect use light grey control colours for &apos;Dark Blur&apos; and dark grey control colours for &apos;Light Blur&apos;.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHCCColourPickerLinkCell</string>
			<key>default</key>
			<string>#ffffff</string>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>LSPrimaryCol</string>
			<key>id</key>
			<string>LSPrimaryCol</string>
			<key>label</key>
			<string>Primary</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>detail</key>
			<string>CHCCColourPickerController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHCCColourPickerLinkCell</string>
			<key>default</key>
			<string>#ffffff</string>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>LSSecondaryCol</string>
			<key>id</key>
			<string>LSSecondaryCol</string>
			<key>label</key>
			<string>Secondary</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
			<key>detail</key>
			<string>CHCCColourPickerController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.customcoverprefs</string>
			<key>key</key>
			<string>LSControlBlending</string>
			<key>id</key>
			<string>LSControlBlending</string>
			<key>label</key>
			<string>Blend Control Colours</string>
			<key>PostNotification</key>
			<string>me.chewitt.customcoverprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you are using ColorFlow 2 on your lock screen then these settings will be overwritten. You may need to respring for ColorFlow support to work properly.</string>
		</dict>
	</array>
	<key>title</key>
	<string>LS Settings</string>
</dict>
</plist>
